@model Week5Assignment.Models.CreateEmployeeModel

<script src="~/Scripts/Employee/employee.js" type="text/javascript"></script>

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Enter New Employee</title>
</head>
<body>
	<h2> Enter New Employees</h2>
	<div>
		<form>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
					@*@Html.LabelFor(Model => Model.FirstName)*@
					<label for="FirstName">First Name</label>
				</div>
				<div class="col-md-3">
					@Html.EditorFor(Model => Model.FirstName)
				</div>
				<div class="col-md-2">
					@Html.LabelFor(Model => Model.Department)
				</div>
				<div class="col-md-3">
					@Html.EditorFor(Model => Model.Department)
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
					@*@Html.LabelFor(Model => Model.MiddleName)*@
					<label for="MiddleName">Middle Name</label>
				</div>
				<div class="col-md-3">
					@Html.EditorFor(Model => Model.MiddleName)
				</div>
				<div class="col-md-2">
					@*@Html.LabelFor(Model => Model.JobTitle)*@
					<label for="Job Title">Job Title</label>
				</div>
				<div class="col-md-3">
					@Html.EditorFor(Model => Model.JobTitle)
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
					@*@Html.LabelFor(Model => Model.LastName)*@
					<label for="LastName">Last Name</label>
				</div>
				<div class="col-md-3">
					@Html.EditorFor(Model => Model.LastName)
				</div>
				<div class="col-md-2">
					@Html.LabelFor(Model => Model.Salary)
				</div>
				<div class="col-md-3">
					@Html.EditorFor(Model => Model.Salary)
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
					<label for="BirthDate">Birth Date</label>
				</div>
				<div class="col-md-3">
					<input id="BirthDate" type="date" class="form-control" />
				</div>

				<div class="col-md-2">
					@*@Html.LabelFor(Model => Model.SalaryType)*@
					<label for="SalaryType">Salary Type</label>
				</div>
				<div class="col-md-3">
					@{
						List<SelectListItem> listItems = new List<SelectListItem>();
						listItems.Add(new SelectListItem
						{
							Text = "Annual",
							Value = "Annual"
						});
						listItems.Add(new SelectListItem
						{
							Text = "Hourly",
							Value = "Hourly",
						});
					}
					@Html.DropDownListFor(Model => Model.SalaryType, listItems, "-- Select Salary Type --")
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
					@*@Html.LabelFor(Model => Model.HireDate)*@
					<label for="HireDate">Hire Date</label>
				</div>
				<div class="col-md-3">
					@Html.EditorFor(Model => Model.HireDate)
				</div>
				<div>
					@Html.ValidationMessageFor(Model => Model.HireDate)
				</div>
				<div class="col-md-2">
					@*@Html.LabelFor(Model => Model.AvailableHours)*@
					<label for="AvailableHours">Available Hours</label>
				</div>
				<div class="col-md-3">
					@Html.EditorFor(Model => Model.AvailableHours)
				</div>
				<div class="col-md-1">
				</div>
			</div>
			<div class="row"></div>
			<div class="col-md-12"></div>
			<div class="row">
				<div class="col-md-8"></div>
				<div class="col-md-1">
					<button class="btn btn-primary margin-top-md margin-left-md" type="submit">Create</button>
				</div>
				<div class="col-md-1">
					<button class="btn btn-secondary margin-top-md margin-left-md" onclick="clearInput()">Clear</button>
				</div>
				<div class="col-md-2"></div>
			</div>
		</form>
	</div>
</body>
</html>

